@charset "UTF-8";

#style{
	border: 1px solid #FFD732; 
	background-color: #FFD732; 
	border-radius: 16px;
	box-shadow: inset 0 0 8px #deb13a;
	width: 310px; height: 160px;
	
}
#style2{
	border: 1px solid #FFD732; 
	background-color: #FFD732; 
	border-radius: 16px;
	box-shadow: inset 0 0 8px #deb13a;
	width: 370px; height: 160px;
	
}
.size{
	padding-left:17px;
	padding-top:30px;
	width:200px;
	height: 100px;
}



